/* src/components/Layout/Layout.module.css */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding-top: 154px; /* 36px topbar + 70px mainbar + 48px categoriesBar */
  padding-bottom: 0;
  transition: padding-top 0.3s ease;
}

.mainScrolled {
  padding-top: 118px; /* 70px mainbar + 48px categoriesBar */
}
